{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div></div>
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="row">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                A convenient and enjoyable way to start the day.
            </h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4>
                            <a href="{% url 'products' %}" class="btn btn-black btn-floating m-1">Order
                                Now</a>
                        </h4>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <a href="{% url 'contact' %}" class="btn btn-outline-black btn-floating m-1">Contact
                                Us</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 py-4">
            <img src="{{ MEDIA_URL }}54.png" no-repeat center center fixed; class="img-fluid" alt="brunch basket">
        </div>
    </div>
</div>

{% endblock %}