{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Frequently Asked Questions</h1>

<form method="post">
  {% csrf_token %}
  <label for="question">Question:</label>
  <select name="question">
    {% for faq in faqs %}
    <option value="{{ faq.question }}">{{ faq.question }}</option>
    {% endfor %}
  </select>
  <br>
  <br>
  <label for="answer">Answer:</label>
  <br>
  <textarea id="answer" name="answer" readonly>{{ answer }}</textarea>
  <br>
  <input type="submit" value="Submit">
</form>
{% endif %}
{% endblock %}