
<footer class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <p>Copyright &copy; 2023 The Brunch Basket</p>
      </div>
      <div class="col-md-4">
        <h3>Contact us</h3>
        <p>123 Main St<br>Anytown, IE<br>555-555-5555</p>
        <form class="form">
          <div class="form-group">
            <label for="email">Sign up to receive updates about our latest products and promotions</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </footer>