<footer class="container" style="background-color: #79511E; color: white;"> 
    <div class="container py-2">
      <div class="row">
        <div class="col-md-4 mb-3">
          <p>Subscribe to our newsletter</p>
          <form action="{% url 'subscribe' %}" method="POST">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Your email address">
            <button class="bnt btn-submit rounded-0" type="submit">Subscribe</button>
          </form>
        </div>
 
 
        <div class="col-md-4 mb-3">
            <p>Connect with us</p>
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1"
              href="https://www.facebook.com/profile.php?id=100092292570505" target="_blank" role="button"><i
                class="fab fa-facebook-f"></i></a>
 
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" target="_blank"
              role="button"><i class="fab fa-instagram"></i></a>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/" target="_blank"
              role="button"><i class="fab fa-youtube"></i></a>
        </div>

        <div class="col-md-4 mb-3">
              <p>Contact Us</p>
              <ul class="list-unstyled">
                <li><i class="fas fa-envelope"></i> <a href="mailto:info@thebrunchbasket.com">info@thebrunchbasket.com</a></li>
                <li><i class="fas fa-phone"></i> +1 (555) 555-5555</li>
                <li><i class="fas fa-map-marker-alt"></i> 123 Main Street, Ireland</li>
              </ul>
          </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr class="bg-light">
          <p class="text-center">&copy; 2023 The Brunch Basket. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>