{% extends "base.html" %}
{% load static %}



{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 py-2">
                <hr>
                <h2 class="logo-font mb-4">Thank you for subscribing!</h2>
                <h5 class="text-muted">You will now receive updates and special offers from our store.</h5>
            </div>
        </div>
    </div>
{% endblock %}



